{% extends 'mashin/base.html' %}
{% block content %}
<h2> Honda имеет не такой большой автомобильный ряд чем Toyota, а также меньшие продажи, но те кто знают скажут, что Toyota и в подметки не годится Honda. Кстати, это вечный спор между обладателями двух разных марок авто. </h2>
<ul>
    <li> <a href="http://127.0.0.1:8000"> <h4>Главная</h4> </a> </li>
    <li> <a href="http://127.0.0.1:8000/toyota"> <h4>Тойота</h4> </a> </li>
    <li> <a href="http://127.0.0.1:8000/renault"> <h4>Рено</h4> </a> </li>
</ul>
{% endblock %}