{% extends 'mashin/base.html' %}
{% block content %}
<h2> Во время Второй мировой войны компания Renault делала машины для немцев, получив заказ в обмен на обещание Гитлера не уничтожать заводы. В 1942 году часть заводов подверглась бомбардировке, и Луи Рено так нервничал, что пережил приступ и потерял способность нормально говорить. </h2>
<ul>
    <li> <a href="http://127.0.0.1:8000"> <h4>Главная</h4> </a> </li>
    <li> <a href="http://127.0.0.1:8000/toyota"> <h4>Тойота</h4> </a> </li>
    <li> <a href="http://127.0.0.1:8000/honda"> <h4>Хонда</h4> </a> </li>
</ul>
{% endblock %}